/* hoverDir plugins css */
/* .da-thumbs {
	list-style: none;
	width: 984px;
	height: 600px;
	position: relative;
	margin: 20px auto;
	padding: 0;
} */
/* .da-thumbs li {
	float: left;
	margin: 5px;
	background: #fff;
	padding: 8px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
} */
.da-thumbs li a,
.da-thumbs li a img {
	display: block;
	position: relative;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: var(--addColor);
	/* background: rgba(75,75,75,0.7); */
	width: 100%;
    height: 100%;
    border-radius: 10px;
    color: #fff;
}
.da-thumbs li a div h6 {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-align: center;
	font-size: 18px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-radius: 10px;
}
