@media all and (max-width:991px) {
    .image_area {
        width: 270px;
        height: 270px;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid #252525;
        top: 15%;
    }
    .header_menu_area {
        display: none;
    }
    .header_text_area {
        flex: 0 0 65%;
        margin-right: 7rem;
        padding-top: 25rem;
    }
    .responsive-menu {
        display: block;
    }
    .responsive_icon .show-nav {
        display: block;
    }
}

@media all and (max-width:767px) {
    .header_text_area {
        margin-left: 10.33%;
        text-align: center;
        flex: 0 0 80%;
    }
    .header_text_area h1 {
        font-size: 38px;
        line-height: 38px;
        margin: 29px 0 13px;
    }
    .header_text_area p {
        font-size: 15px;
        line-height: 30px;
    }
    .left_color_area {
        left: -100%;
        top: -70%;
    }
    .header_text_area h3 {
        font-size: 20px;
    }
}

@media all and (max-width:576px) {
    .header_text_area {
        flex: 0 0 95%;
        margin-right: 7rem;
        padding-top: 12rem;
    }
    .image_area {
        width: 200px;
        height: 200px;
    }
    .left_color_area {
        left: -100%;
        top: -55%;
    }
}

@media all and (max-width:430px) {
    .header_text_area {
        flex: 0 0 95%;
        margin-right: 7rem;
        padding-top: 12rem;
        text-align: left;
        margin-left: 7rem;
    }
    .left_color_area {
        left: -100%;
        top: -29%;
    }
    .header_text_area h1 {
        font-size: 28px;
        line-height: 28px;
        margin: 18px 0 13px;
    }
    .header_text_area h3 {
        font-size: 18px;
    }
    .header_text_area p {
        font-size: 14px;
        line-height: 25px;
    }
}