@media all and (min-width:991px) {
    .responsive_icon {
        display: none !important;
    }
}

@media all and (max-width:991px) {
    .image_area {
        width: 270px;
        height: 270px;
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid #252525;
        top: 15%;
    }
    .header_menu_area {
        display: none;
    }
    .header_text_area {
        flex: 0 0 65%;
        margin-right: 7rem;
        padding-top: 25rem;
    }
    .responsive_icon {
        display: block;
        z-index: 99999;
        position: relative;
    }
    .responsive-menu {
        display: block;
    }
    .responsive_icon .show-nav {
        display: block;
    }
    .color-changer-area {
        top: 30%;
    }
    /* about css  */
    .information_left_area {
        margin-bottom: 5rem;
    }
    .portfolio_area {
        column-count: 2;
    }
    .contactform {
        padding-top: 6rem;
    }
}

@media all and (max-width:767px) {
    .header_text_area {
        margin-left: 10.33%;
        text-align: center;
        flex: 0 0 80%;
    }
    .header_text_area h1 {
        font-size: 38px;
        line-height: 38px;
        margin: 29px 0 13px;
    }
    .header_text_area p {
        font-size: 15px;
        line-height: 30px;
    }
    .left_color_area {
        left: -100%;
        top: -70%;
    }
    h3 {
        font-size: 20px;
    }
    .single_portfolio ul li a img {
        height: 160px;
    }
}

@media all and (max-width:576px) {
    .header_text_area {
        flex: 0 0 95%;
        margin-right: 7rem;
        padding-top: 12rem;
    }
    .image_area {
        width: 200px;
        height: 200px;
    }
    .left_color_area {
        left: -100%;
        top: -55%;
    }
    /* about page  */
    .information_image_area {
        display: block;
    }
    .full_width_about_header_section {
        background: #252525;
        border-bottom: 1px solid #333;
        padding: 1.5rem 0;
        text-align: left;
        margin-bottom: 1.5rem;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
    }
    .info_title h3 {
        font-size: 21px;
    }
    .info-single_item ul .title {
        display: block;
    }
    .full_width_personal_information_section {
        padding-top: 8rem;
    }
    .about_header_text h2 {
        font-size: 26px;
    }
    .title_bg {
        display: none;
    }
    .container {
        width: 95%;
    }
    .single_infR p {
        padding-left: 0;
    }
    .single_infR p::before {
        display: none;
    }
    h3 {
        font-size: 21px;
        text-align: left;
    }
    .edu_items h5 {
        font-size: 17px;
    }
    .Main_portfolio_area {
        padding-top: 9rem;
    }
    .portfolio_area {
        column-count: 1;
    }
    .single_portfolio {
        margin-bottom: 2.5rem;
    }
    .single_portfolio ul li a img {
        height: 225px;
    }
    .main_contact_area {
        padding-top: 8rem;
    }
    .blog_post_area {
        padding-top: 10rem;
        transition: .4s;
    }
}

@media all and (max-width:430px) {
    .header_text_area {
        flex: 0 0 95%;
        margin-right: 7rem;
        padding-top: 12rem;
        text-align: left;
        margin-left: 7rem;
    }
    .left_color_area {
        left: -100%;
        top: -29%;
    }
    .header_text_area h1 {
        font-size: 28px;
        line-height: 28px;
        margin: 18px 0 13px;
    }
    h3 {
        font-size: 18px;
    }
    .header_text_area p {
        font-size: 14px;
        line-height: 25px;
    }
}